<div class="ngdialog-message">
    <h2>Info:</h2>
    <div class="form-group">
        <p>{{infoMessage}}</p>
    </div>


</div>
<div class="ngdialog-buttons mt">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm();">OK</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog();" ng-hide="onlyConfirm">Cancel</button>
</div>

<!--<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-comments"></i>Info
        </div>
        <div class="tools">
            <a href="javascript:;" class="remove" ng-click="closeThisDialog();">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="dialog-content ">
            <p>{{infoMessage}}</p>
        </div>


        <div class="ngdialog-buttons mt">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm();">OK</button>
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog();">Cancel</button>
        </div>
    </div>

</div>-->
